# vim: set noexpandtab:
[user]
	name = Herbert Ilhan Tanujaya
	email = mail@herbert.id
[diff]
	renames = true
[color]
	ui = true
[push]
	default = simple
[core]
	excludesfile = /home/donjar/.global_gitignore
[help]
	autocorrect = 1
[alias]
	aa = add -A
	ap = add -p
	bd = branch -D
	ca = commit --amend
	cb = checkout -b
	cl = clean -fdxi
	cm = commit -m
	co = checkout
	cp = checkout -p --
	dc = diff --cached
	d = diff
	dh = diff HEAD^
	dno = diff --name-only
	dw = diff --word-diff
	lg = log --one-line --graph
	puo = push -u origin
	rh = reset HEAD .
	rm = rebase master
	rpo = remote prune origin
	s = status
	stp = stash pop
	sts = stash show
	st = stash
