# vim: set noexpandtab:
[user]
	name = Herbert Ilhan Tanujaya
	email = mail@herbert.id
[diff]
	renames = true
[color]
	ui = true
[push]
	default = simple
[core]
	excludesfile = ~/.global_gitignore
	editor = nvim
[help]
	autocorrect = 1
[alias]
	aa = add -A
	ap = add -p
	b = branch
	bd = branch -D
	ca = commit --amend
	can = commit --amend --no-edit
	cats = !git add -A && git commit -m 'Change according to suggestions' && git push
	cb = checkout -b
	cl = clean -dxi
	cm = commit -m
	co = checkout
	cp = checkout -p --
	dc = diff --cached
	d = diff
	dh = diff HEAD^
	dnoc = diff --name-only --cached
	dno = diff --name-only
	dw = diff --word-diff
	lg = log --oneline --graph
	ma = merge --abort
	mm = !"git merge ${1:-master} #"
	pf = push --force-with-lease
	puo = !git push -u origin $(git symbolic-ref --short HEAD)
	ra = rebase --abort
	rc = rebase --continue
	rem = !"git rebase ${1:-master} #"
	rh = reset HEAD .
	rim = !"git rebase -i ${1:-master} #"
	rpo = remote prune origin
	sm = !git checkout ${1:-master} && git pull && git checkout - && git diff ${1:-master} > /tmp/a.patch && git checkout ${1:-master} && git apply /tmp/a.patch && rm /tmp/a.patch && git add -A && git commit && git push #
	s = status
	std = stash drop
	stl = stash list
	stp = stash pop
	sts = stash show -p
	st = stash
	ub = !"git checkout ${1:-master} && git pull && git checkout - && git rebase ${1:-master} && git push --force-with-lease #"
	ubi = !"git checkout ${1:-master} && git pull && git checkout - && git rebase -i ${1:-master} && git push --force-with-lease #"
	ubm = !"git checkout ${1:-master} && git pull && git checkout - && git merge ${1:-master} && git push #"
[pull]
	rebase = true
[init]
	defaultBranch = master
