# vim: set noexpandtab:
[user]
	name = Herbert Ilhan Tanujaya
	email = mail@herbert.id
[diff]
	renames = true
[color]
	ui = true
[push]
	default = simple
[core]
	excludesfile = /home/donjar/.global_gitignore
	editor = nvim
[help]
	autocorrect = 1
[alias]
	aa = add -A
	ap = add -p
	bd = branch -D
	ca = commit --amend
	can = commit --amend --no-edit
	cats = !git add -A && git commit -m 'Change according to suggestions' && git push
	cb = checkout -b
	cl = clean -fdxi
	cm = commit -m
	co = checkout
	cp = checkout -p --
	dc = diff --cached
	d = diff
	dh = diff HEAD^
	dno = diff --name-only
	dw = diff --word-diff
	lg = log --oneline --graph
	ma = merge --abort
	mm = merge master
	pf = push --force-with-lease
	puo = !git push -u origin $(git symbolic-ref --short HEAD)
	ra = rebase --abort
	rc = rebase --continue
	rem = rebase master
	rh = reset HEAD .
	rim = rebase -i master
	rpo = remote prune origin
	s = status
	stl = stash list
	stp = stash pop
	sts = stash show -p
	st = stash
	ub = !git checkout master && git pull && git checkout - && git rebase master && git push --force-with-lease
	ubi = !git checkout master && git pull && git checkout - && git rebase -i master && git push --force-with-lease
	ubm = !git checkout master && git pull && git checkout - && git merge master && git push
